.app_wrapper{
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-areas:
   'h h'
   'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.header{
  grid-area: h;
  background-color: coral;
}

.nav{
  grid-area: n;
  background-color: rgb(147, 80, 255);
}

.content{
  grid-area: c;
  background-color: rgb(24, 170, 138);
}